[submodule "glfw"]
	path = includes/glfw
	url = https://github.com/glfw/glfw
[submodule "stb"]
	path = includes/stb
	url = https://github.com/nothings/stb
[submodule "sockpp"]
	path = includes/sockpp
	url = https://github.com/fpagliughi/sockpp
[submodule "includes/sockpp"]
	path = includes/sockpp
	url = https://github.com/fpagliughi/sockpp
[submodule "includes/glfw"]
	path = includes/glfw
	url = https://github.com/glfw/glfw
[submodule "includes/stb"]
	path = includes/stb
	url = https://github.com/nothings/stb
